body {
    background-color: darkgray;    
    font-size: 14px;    
    font: Arial;
    font-weight: bold;
    color: white;
}

.col-md-2 {
    background-color: #9e0000;
}

.col-md-10 {
    background-color: #9e0000;
    text-align: justify;
}

/*.img-responsive {
    height: auto;
    width: 68%;
} */

.jumbotron {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(goofy.png);
    height: 200px;
    background-color: #000000;
}

.foot {
    width: auto;
    height: 500px;
}
